#containerUser{
    background-image:url('../Components/img/register.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#bckRegister{
    background-color:rgba(248,250,252,255);
}

#clubRegister{
    background-color:rgba(248,250,252,255);
}