@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
#body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  perspective: 1500px;
}
#container {
  margin-top: 40px;
  width: 95%;
  max-width: 800px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 14px 28px -10px rgba(0, 0, 0, 0.1),
    0 10px 10px -10px rgba(0, 0, 0, 0.02);
}
.registerClass {
  right: 0;
  z-index: 1;
  border-radius: 0 20px 20px 0;
  background: #fafafa;
}
.login {
  left: 0;
  background: #fafafa;
  border-radius: 20px 0 0 20px;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

#fInput {
  background: #eee;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1em;
  text-align: left;
}
.content {
  width: 100%;
  padding: 2em 4em;
  text-align: center;
}
.page {
  right: 0;
  color: #fff;
  border-radius: 0px 20px 20px 0px;
}
.page2 {
  right: 0;
  color: #fff;
  border-radius: 20px 0px 0px 20px;
}
.front {
  background: linear-gradient(-55deg, #a01919 0%, #5e0303 100%) no-repeat 0 0 /
    200%;
  z-index: 3;
}
.back {
  background: linear-gradient(135deg, #a01919 0%, #5e0303 100%) no-repeat 0 0 /
    200%;
  z-index: 2;
}
p {
  font-size: small;
}
a:link {
  text-decoration: none;
}
.aLink {
  color: rgba(124, 122, 122, 0.788);
  font-weight: bold;
}
.aLink:hover {
  color: #5e0303;
}
.btnLogin {
  margin: 1em auto;
  letter-spacing: 1.2px;
  padding: 0.4em 1.5em;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(207, 204, 204);
}
.btnLogin:hover {
  background-color: #810404;
}
.btnLogin:active {
  background-color: #eee;
  box-shadow: 0 0px #810404;
  transform: translateY(0.8px);
}
.btnRegister {
  margin: 0.3em auto;
  letter-spacing: 0.2px;
  padding: 0.4em 1em;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(207, 204, 204);
}
.btnRegister:hover {
  background-color: #810404;
}
.btnRegister:active {
  background-color: #810404;
  box-shadow: 0 0px #8e1916;
  transform: translateY(0.8px);
}
.landing-page {
  background-color: rgba(238, 238, 238, 255);
}
.esc-gif {
  max-width: 100%;
}
.lgn-rgs {
  margin-right: 5px;
}
.text-es {
  text-transform: uppercase;
  background-image: linear-gradient(
    to right top,
    #750909,
    #a10909a4,
    #720707d2,
    #efefef,
    #cfc6c6d2
  );
  background-size: 50% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 8vw;
  animation: gradientAnim 7.5s ease alternate infinite;
}

@keyframes gradientAnim {
  to {
    background-position: 100% top;
  }
}
.navbar-style {
  background-color: gray;
  font-weight: bold;
}
.navbar-hover {
  background-color: #707072;
  border-radius: 10px 10px 0 0;
}
.nav-link:hover {
  background-color: #b6b6b6ce;
  border-radius: 5px;
  color: black;
}
